*{
    padding: 0;
    margin: 0;
}

.body{
    background: url(/img/bg.jpg);
    min-height: 100vh;
    background-size:  100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bord{
    background: linear-gradient(rgb(103, 103, 255), white);
    height: 92vmin;
    width: 90vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: url(/img/snakehead.png);
    background-size: cover;
    border-radius: 30%;
    z-index: 2;
    scale: 1.25;
    transition: all .1s;
}

.snake{
    background-color: rgb(36, 113, 28);
    border-radius: 45%;
    border: .20vmin solid black;
}

.food{
    background: linear-gradient(yellow, orange);
    border: .25vmin solid white;
    border-radius: 100%;
}

#scorebar,
.highscore{
    position: absolute;
    top: 20px;
    left: 70px;
    font-size: 40px;
    font-weight: bold;
    color: violet;
    font-family: 'Courier New', Courier, monospace;
}

.highscore{
    top:80px;
    font-size: 1rem;
    color: rgb(44, 44, 236);
}

.highscore span{
    color: white;
}