* {
    padding: 0;
    margin: 0;
}

.body {
    background: url(/img/bg.jpg);
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    z-index: 0;
    align-items: center;
}

.body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

#bord {
    z-index: 1;
    background: linear-gradient(rgb(103, 103, 255), white);
    height: 92vmin;
    width: 90vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background: url(/img/snakehead.png);
    background-size: cover;
    border-radius: 30%;
    z-index: 2;
    scale: 1.25;
    transition: all .1s;
}

.snake {
    background-color: rgb(36, 113, 28);
    border-radius: 45%;
    border: .20vmin solid black;
}

.food {
    background: linear-gradient(yellow, orange);
    border: .25vmin solid white;
    border-radius: 100%;
}

#scorebar,
.highscore {
    position: absolute;
    top: 20px;
    background-color: rgba(255, 255, 255, 0.912);
    left: 70px;
    font-size: 40px;
    font-weight: bold;
    padding: .3rem;
    border-radius: 1rem;
    color: rgb(255, 63, 255);
    font-family: 'Courier New', Courier, monospace;
}

.highscore {
    top: 80px;
    font-size: 1rem;
    color: rgb(44, 44, 236);
}

.highscore span {
    color: rgb(0, 172, 20);
}

.playMusic {
    position: absolute;
    top: 100px;
    right: 100px;
    padding: .5rem;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.568), rgba(156, 155, 155, 0.256));
    border: 2px solid white;
    border-radius: 20px;
    color: #0015ff;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

.buttons {
    position: absolute;
    right: 100px;
    z-index: 4;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20rem;
    width: 20rem;
}

.sidebtn {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.arrows {
    background-color: rgba(255, 255, 255, 0.561);
    font-size: 2.5rem;
    cursor: pointer;
    border-radius: 10px;
}

.arrows:hover {
    scale: 1.01;
    background-color: rgba(255, 255, 255, 0.727);
}

@media (max-width: 1355px) {

    #scorebar,
    .highscore {
        left: 25px;
    }
}

@media (max-width: 1255px) {

    #scorebar,
    .highscore {
        left: 15px;
    }

    .highscore {
        top: 100px;
        font-size: .9rem;
    }

    .playMusic {
        top: 100px;
        z-index: 5;
    }
}

@media (max-width: 1150px) {
    #bord {
        height: 85vmin;
        width: 80vmin;
    }

    .highscore {
        font-size: .8rem;
    }
}

@media (max-width: 1050px) {
    #bord {
        height: 30rem;
        width: 30rem;
    }

    .highscore {
        font-size: .7rem;
    }
}

@media (max-width: 950px) {
    #bord {
        height: 25rem;
        width: 25rem;
    }

    .highscore {
        font-size: .7rem;
    }

    .playMusic {
        top: 70px;
        right: 70px;
    }
}

@media (max-width: 850px) {
    #bord {
        height: 25rem;
        width: 25rem;
        position: absolute;
        top: 6rem;
        left: 10vw;
    }

    .highscore {
        font-size: .7rem;
        top: 20px;
        left: 60vw;
    }

    .playMusic {
        top: 85vh;
        right: 70px;
    }

    .buttons {
        display: flex;
        position: fixed;
        bottom: -90px;
        left: 80px;
    }

    .arrows {
        font-size: 1.8rem;
    }

    .sidebtn {
        width: 30%;
    }
}

@media (max-width: 500px) {
    #bord {
        height: 24rem;
        width: 24rem;
        top: 6.5rem;
        left: 8vw;
    }

    #scorebar {
        font-size: 2rem;
        top: 30px;
    }

    .highscore {
        font-size: .55rem;
        width: 11rem;
        left: 50vw;
    }

    .playMusic {
        right: 50px;
    }

    .buttons {
        left: 0;
    }

    .arrows {
        font-size: 2.3rem;
    }

    .sidebtn {
        width: 40%;
    }
}

@media (max-width: 430px) {
    #bord {
        height: 22rem;
        width: 22rem;
        top: 5.5rem;
        left: 4.5vw;
    }

    #scorebar {
        font-size: 1.7rem;
        top: 30px;
    }

    .highscore {
        left: 45vw;
        width: 10rem;
    }

    .highscore h1 {
        font-size: 1rem;
    }

    .buttons {
        left: 30px;
        bottom: -30px;
    }

    .playMusic {
        top: 84vh;
        right: 30px;
        font-size: 1rem;
    }

    .arrows {
        font-size: 2.8rem;
    }

    .sidebtn{
        width: 50%;
    }
}