* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #001a33;
    border-radius: 6px;
    margin: 20px 0;
}

::-webkit-scrollbar-thumb {
    background: #4caf50;
    border-radius: 6px;
    border: 2px solid #001a33;
}

::-webkit-scrollbar-thumb:hover {
    background: #45a049;
}

html {
    overflow: hidden;
}

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/img/bg.jpg);
    height: 100vh;
    width: 100vw;
    background-size: 80vw 80vh;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

#bord {
    z-index: 1;
    background: linear-gradient(rgb(103, 103, 255), white);
    height: max(42vw, 72vh);
    width: max(42vw, 72vh);
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background: url(/img/snakehead.png);
    background-size: cover;
    border-radius: 30%;
    z-index: 2;
    scale: 1.25;
    transition: all .1s;
}

.snake {
    background-color: rgb(36, 113, 28);
    border-radius: 45%;
    border: .20vmin solid black;
}

.food {
    background: url(/img/apple.png);
    background-size: cover;
    scale: 1.1;
    border-radius: 100%;
}

.specialfood {
    border-radius: 100%;
    background: linear-gradient(yellow, orange);
    border: .25vmin solid white;
}

.profilepart,
.gamefunctions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 22%;
    height: 100%;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.086);
}

.gamebord {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: calc(100% - 2*(22%));
}

.proficon,
.rankicon {
    background-color: rgb(255, 255, 255);
    padding: .3rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    z-index: 2;
    justify-content: center;
    width: 75%;
    cursor: pointer;
    font-size: 1.7rem;
    color: #b400ff;
    gap: 10px;
}

.proficon i {
    color: rgb(255, 53, 53);
}

.rankicon i {
    color: gold;
}

.profilepart>h1 {
    color: #40bc28;
    background-color: lightyellow;
    z-index: 2;
    padding: .2rem;
    border-radius: 5px 10px;
}

.highscore,
.scoredesign {
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.912);
    font-size: 40px;
    font-weight: bold;
    padding: .3rem;
    border-radius: 1rem;
    color: rgb(255, 63, 255);
    font-family: 'Courier New', Courier, monospace;
}

#bestsbar {
    font-size: 2rem;
    color: #b400ff;
}

.highscore {
    position: relative;
    z-index: 7;
    font-size: 1rem;
    color: rgb(44, 44, 236);
}

.show {
    display: flex !important;
    flex-direction: column;
}

.bordcross {
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: .2rem;
    font-size: 1.3rem;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none !important;
    border-radius: 50%;
}

.highscore span {
    color: rgb(0, 172, 20);
}

.playMusic,
.turbo {
    cursor: pointer;
    padding: .5rem;
    background-color: rgba(255, 255, 255, 0.815);
    border: 2px solid white;
    border-radius: 20px;
    color: #0015ff;
    font-weight: bold;
    font-size: large;
    z-index: 2;
}

.buttons {
    z-index: 4;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20rem;
}

.sidebtn {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.arrows {
    background-color: rgba(255, 255, 255, 0.561);
    font-size: 2.5rem;
    cursor: pointer;
    border-radius: 10px;
}

.arrows:hover {
    scale: 1.01;
    background-color: rgba(255, 255, 255, 0.727);
}

:root {
    --turboColor: blueviolet;
}

.turbo {
    color: var(--turboColor);
    box-shadow: 1px 1px 5px var(--turboColor) inset,
        -1px -1px 5px var(--turboColor) inset;
    z-index: 10;
    filter: contrast(3);
    transition: all .3s ease;
}

.register {
    position: fixed;
    z-index: 7;
    border: 4px double #0015ff;
    background-color: white;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 33vmax;
    width: 40vmax;
    padding: 1rem;
    overflow: hidden;
    border-radius: 3rem;
    box-shadow: 1px 1px 5px #0015ff,
        -1px -1px 5px #0015ff;
}

.regbtns {
    border: 2px solid violet;
    width: 80%;
    height: 2.5rem;
    border-radius: 1rem;
    display: inline-flex;
    justify-content: space-around;
}

.btns,
form button {
    background: none;
    border-radius: 1rem;
    font-size: 2rem;
    color: black;
    width: 50%;
    border: none;
    transform: .3s all ease;
    cursor: pointer;
}

.btns:hover {
    border: 1px solid black;
    background-color: #0037ff;
    color: white;
}

.signup {
    background-color: #0015ff;
    color: white;
}

form {
    display: flex;
    color: green;
    width: 80%;
    height: 70%;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.5rem;
    transition: all .5s ease;
}

form input {
    padding: .3rem;
    background-color: rgb(213, 210, 210);
    border-radius: .5rem;
    font-size: large;
    border: none;
    color: black;
}

form button {
    background-color: #0015ff;
    color: white;
    margin: 0 auto;
}

#loginform {
    display: none;
}

#loader {
    position: fixed;
    z-index: 10;
    font-size: 2.5rem;
    color: red;
    background-color: white;
    display: none;
}

.ranks {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto !important;
    width: 30rem;
    height: 70%;
    background-color: #001f3f;
    padding: 1rem;
    border: white 3px solid;
    border-radius: 30px;
    gap: 10px;
    display: none;
    color: #9DC183;
    transition: all .5s ease-in;
}

.headings:nth-child(1) {
    color: #fff;
}

.headings:nth-child(2) {
    color: gold;
}

.headings:nth-child(3) {
    color: silver;
}

.headings:nth-child(4) {
    color: #CD7F32;
}

.headings {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1250px) {
    .highscore {
        font-size: .8rem;
    }

    #scorebar,
    #bestsbar {
        font-size: 1.7rem;
    }

    .rankicon,
    .proficon {
        font-size: 1.4rem;
    }
}

@media (max-width: 850px) {
    .register {
        height: 60vmax;
        width: 48vmax;
    }

    body {
        flex-direction: column;
        height: 96vh;
    }

    .highscore {
        align-items: center;
        border-radius: 30px;
        padding: 0;
        display: none;
        position: fixed;
        width: 70vw;
        max-height: 70vh;
        top: 50%;
        transform: translate(0, -50%);
    }

    .ranks {
        position: static;
        transform: translate(0, 0);
        width: 100%;
        font-size: 1.1rem;
    }

    .bordcross {
        display: block !important;
    }

    .scoredesign,
    .profilepart>h1 {
        font-size: 1.4rem !important;
    }

    .rankicon,
    .proficon {
        width: auto;
    }

    .rankicon span,
    .proficon span {
        display: none;
    }

    .arrows {
        font-size: 2.5rem;
    }

    #bord {
        height: 60vh;
        width: 60vh;
    }

    .profilepart,
    .gamefunctions {
        flex-direction: row;
        width: 99vw;
        height: 5vh;
    }

    .gamebord {
        height: calc(100% - 10vh);
        flex-direction: column;
        width: 99vw;
    }

    .buttons {
        display: flex;
    }
}

@media (max-width: 525px) {

    body {
        height: 93vh;
    }

    .scoredesign,
    .profilepart>h1 {
        font-size: 1.1rem !important;
    }

    .rankicon,
    .proficon {
        font-size: 1.25rem;
    }

    #bord {
        height: 47vh;
        width: 47vh;
    }

    .highscore {
        width: 90vw;
    }

    .arrows {
        font-size: 3.5rem;
    }

    .buttons {
        width: 30rem;
    }

    .profilepart,
    .gamefunctions {
        height: 7vh;
    }

    .gamebord {
        height: 81vh;
    }

    .playMusic,
    .turbo {
        font-size: .9rem;
    }
}